/* ./your-css-folder/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://thisis.hulu.com/#color */
/* bg-[#06202A] */

@layer base {
  body {
    @apply text-gray-300 font-hulu;
  }
}

html::before,
body::before {
  content: '';
  content: '';
  width: 100%;
  height: 100vh;
  /* //background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
    // background: #D3D3D3; */
  background-image: linear-gradient(
    to right bottom,
    #040405,
    #12141a,
    #182029,
    #1a2c39,
    #183949
  );
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image::after {
  display: block;
  position: absolute;
  background-image: linear-gradient(
    to right,
    #040405fb,
    #12141ae8,
    #182029af,
    #1a2c393d,
    #18394925
  );
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  content: '';
}
